.input_container {
    width: 18em;
    display: flex;
    flex-direction:column;
}

.input_container label {
    font-size: 0.9em;
}

.input_container input {
    margin-top: .5em;
    margin-bottom: 1em;
    padding: 0.6em 1em;
    outline: none;
    border: 1px solid #cecece;
    border-radius: 5px;

}